* {
    background: #b1b2b5;
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 5;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #000000;
    font-size: 20px;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
}
::placeholder {
    color: #000000;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: #ffffff;
    background-repeat: no-repeat;
    border: none;
    border-color: black;
    border-radius: 24px;
    color: #000000;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    border: none;
    border-radius: 24px;
    color: white;
    background: orange;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar:hover {
    background: orangered;
    transform: scale(0.9);
}

.btn-encriptar {
    border: none;
    border-radius: 24px;
    color: white;
    background: orange;
    cursor: pointer;
    height: 50px;
    width: 328px;
    transition: 0s all;
}

.btn-encriptar:hover {
    background: orangered;
    transform: scale(0.9);
}

.copiar {
    cursor: pointer;
    height: 35px;
    margin-left: 170px;
    margin-top: 330px;
    position: absolute;
    width: 100px;
    color: white;
    background: orangered;
    border: none;
    border-radius: 5px;
    transition: 0s all;
}

.copiar:hover {
    background: darkorange;
    transform: scale(0.9);
}

.informacion {
    color: #495057;
    font-size: 18px;
}

.nombreDesarollador {
    color: #000000;
    font-size: 13px;
    margin: 10px;
    font-weight: bold;
}

@media screen and (max-width:950px) {

    .logo {
        width: 12%;
    }

    main {
        margin: 0px;
        display: block;
    }

    .text-area {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 16px;
        width: 80%;
    }

    .informacion {
        margin-left: 75px;
        font-size: 13px;
    }

    .botones {
        margin-top: 5px;
        position: absolute;
        margin-left: 80px;
    }

    .btn-encriptar {
        height: 40px;
        width: 110px;
        font-size: 15px;
    }

    .btn-desencriptar {
        height: 40px;
        width: 110px;
        font-size: 15px;
    }

    .mensaje {
        margin-top: 70px;
        margin-left: 20px;
        position: absolute;
        width: 80%;
    }

    .copiar {
        height: 40px;
        width: 130px;
        font-size: 15px;
        margin-top: 95%;
        margin-left: 140px;
    }

    .nombreDesarollador {
        margin-top: 110%;
        margin-left: 160px;
        position: absolute;
    }

}